# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
#

#User Specific
*.userprefs
*.usertasks

#Mono Project Files
*.pidb
*.resources

#Unity3d generated
Temp/
Library/
Builds/
Assets/UnityVS
*.unityproj
*.sln
*.csproj
*UnityVS*

#Project specifics
Assets/_Old/
web_build/
orbix_ios/
*.apk
.DS_Store
/*.suo
/obj
/*.iml
/.idea
/Assets/Resources/fakeVkParams.json
/Assets/Resources/fakeVkParams.json.meta
